/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.contain-strict{contain:strict;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.static{position:static;}
.bottom-0{bottom:0;}
.left-0{left:0;}
.right-\.5em{right:0.5em;}
.right-0{right:0;}
.right-1px{right:1px;}
.top-\[5\%\]{top:5%;}
.top-\[50\%\],
.top-1\/2{top:50%;}
.top-0{top:0;}
.z-\[200\]{z-index:200;}
.z-40{z-index:40;}
.z-50{z-index:50;}
.mb-24px{margin-bottom:24px;}
.mr-8px{margin-right:8px;}
.block{display:block;}
.display-none{display:none;}
.h-\[16px\]{height:16px;}
.h-1\.3em{height:1.3em;}
.h-1\.5em{height:1.5em;}
.h-100vh,
.h-screen{height:100vh;}
.h-24px{height:24px;}
.h-300px{height:300px;}
.h-32px{height:32px;}
.h-40px{height:40px;}
.h-48px{height:48px;}
.h-6{height:1.5rem;}
.h-64px{height:64px;}
.h-fit{height:fit-content;}
.h-full{height:100%;}
.max-w-\[560px\]{max-width:560px;}
.w-\[16px\]{width:16px;}
.w-\[90vw\]{width:90vw;}
.w-1\.3em{width:1.3em;}
.w-1\.5em{width:1.5em;}
.w-2\/5{width:40%;}
.w-24px{width:24px;}
.w-300px{width:300px;}
.w-4\/5{width:80%;}
.w-40px{width:40px;}
.w-6{width:1.5rem;}
.w-64px{width:64px;}
.w-fit{width:fit-content;}
.w-full{width:100%;}
.w-screen{width:100vw;}
.flex{display:flex;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.-translate-y-\[calc\(50\%\+1px\)\]{--un-translate-y:calc(calc(50% + 1px) * -1);transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-1\/2{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-not-allowed{cursor:not-allowed;}
.items-center{align-items:center;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-\[12px\]{grid-gap:12px;gap:12px;}
.gap-16px{grid-gap:16px;gap:16px;}
.gap-24px{grid-gap:24px;gap:24px;}
.gap-x-16px{grid-column-gap:16px;column-gap:16px;}
.gap-y-24px{grid-row-gap:24px;row-gap:24px;}
.overflow-hidden{overflow:hidden;}
.border-1px{border-width:1px;}
.border-\#000000,
.border-black{--un-border-opacity:1;border-color:rgba(0,0,0,var(--un-border-opacity));}
.border-\#1E8E3E{--un-border-opacity:1;border-color:rgba(30,142,62,var(--un-border-opacity));}
.rounded-\[8px\]{border-radius:8px;}
.rounded-2px{border-radius:2px;}
.rounded-32px{border-radius:32px;}
.rounded-full{border-radius:9999px;}
.border-solid{border-style:solid;}
.bg-\[rgba\(0\,0\,0\,0\.6\)\]{--un-bg-opacity:0.6;background-color:rgba(0,0,0,var(--un-bg-opacity));}
.bg-\#ffffff,
.bg-white{--un-bg-opacity:1;background-color:rgba(255,255,255,var(--un-bg-opacity));}
.bg-\#fffffff{background-color:#fffffff;}
.bg-black{--un-bg-opacity:1;background-color:rgba(0,0,0,var(--un-bg-opacity));}
.bg-purple-500{--un-bg-opacity:1;background-color:rgba(168,85,247,var(--un-bg-opacity));}
.checked\:bg-\#ffa14a:checked,
.checked\:bg-\#FFA14A:checked{--un-bg-opacity:1;background-color:rgba(255,161,74,var(--un-bg-opacity));}
.bg-opacity-40{--un-bg-opacity:0.4;}
.fill-\#1E8E3E{--un-fill-opacity:1;fill:rgba(30,142,62,var(--un-fill-opacity));}
.fill-\#595A5B{--un-fill-opacity:1;fill:rgba(89,90,91,var(--un-fill-opacity));}
.p-\[28px\]{padding:28px;}
.p-8px{padding:8px;}
.px-\[24px\]{padding-left:24px;padding-right:24px;}
.pt-40px{padding-top:40px;}
.text-\.85em{font-size:0.85em;}
.text-\[22px\]{font-size:22px;}
.text-1\.4em{font-size:1.4em;}
.text-1em{font-size:1em;}
.text-48px{font-size:48px;}
.font-semibold{font-weight:600;}
.text-\[\#303549\]{--un-text-opacity:1;color:rgba(48,53,73,var(--un-text-opacity));}
.text-\#1E8E3E{--un-text-opacity:1;color:rgba(30,142,62,var(--un-text-opacity));}
.text-\#D93026{--un-text-opacity:1;color:rgba(217,48,38,var(--un-text-opacity));}
.text-black{--un-text-opacity:1;color:rgba(0,0,0,var(--un-text-opacity));}
.ring{--un-ring-width:1px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
@media (min-width: 768px){
.md\:h-\[8px\]{height:8px;}
.md\:w-\[8px\]{width:8px;}
.md\:justify-center{justify-content:center;}
.md\:rounded-\[2px\]{border-radius:2px;}
.md\:p-\[16px\]{padding:16px;}
.md\:text-\[20px\]{font-size:20px;}
.md\:leading-\[28px\]{line-height:28px;}
}