/** common **/
.fui-button {
  @apply relative inline-flex justify-center items-center #F1F1F3 whitespace-nowrap outline-none transition-colors font-semibold cursor-pointer;
}

button.fui-button {
  @apply min-h-24px;
  flex: 0 0 auto;
}

button.absolute {
  position: absolute;
}

.fui-button--fullWidth {
  @apply flex w-full;
}

/* size & shape */
/* props: width, height, radius, font size, line height*/
.fui-button--mini {
  @apply px-[10px] h-[24px] text-[12px] leading-22px rounded-4px;
}

.fui-button--small {
  @apply px-[14px] h-[32px] text-[12px] leading-30px rounded-4px;
}

.fui-button--medium {
  @apply px-[18px]  h-[36px] text-[14px] leading-34px rounded-6px;
}

.fui-button--large {
  @apply px-[22px]  h-[40px] text-[14px] leading-38px rounded-8px;
}

/** disabled & loading **/
.fui-button.is-disabled,
.fui-button.is-loading {
  @apply pointer-events-none;
}

/* different styles for loading&disable */
.is-loading {
  @apply hover:opacity-90;
}

button.fui-button.is-disabled:not(.is-loading),
a.fui-button.is-disabled:not(.is-loading) {
  @apply bg-#F0F1F1 text-#A9ABB2 border-transparent;
}

a.fui-button--text.is-disabled,
button.fui-button--text.is-disabled {
  @apply bg-transparent text-#A9ABB2;
}

/* contained button */
/* bg, text color */
.fui-button--contained {
  @apply border-none;
}

.fui-button--contained.fui-button--primary {
  @apply bg-[#111111] text-#F1F1F3;
}

.fui-button--contained.fui-button--primary:hover,
.fui-button--contained.fui-button--primary:focus-visible {
  @apply bg-[#292E41] text-#F1F1F3;
}

.fui-button--contained.fui-button--green {
  @apply bg-[#3AC170] text-#F1F1F3;
}

.fui-button--contained.fui-button--green:hover,
.fui-button--contained.fui-button--green:focus-visible {
  @apply bg-[#3AC170] text-#F1F1F3;
}

/* outlined button */
/* with border */
/* border width, border color, text color, bg */
.fui-button--outlined {
  @apply border-1px;
}

.fui-button--outlined.fui-button--primary {
  @apply border-[#111111] text-[#111111] bg-transparent;
}

.fui-button--outlined.fui-button--primary:hover,
.fui-button--outlined.fui-button--primary:focus-visible {
  @apply border-[#292E41] text-[#292E41] bg-#292E410a;
}

.fui-button--outlined.fui-button--white {
  @apply border-#EBEBED1F text-#F1F1F3 bg-transparent;
}

.fui-button--outlined.fui-button--white:hover,
.fui-button--outlined.fui-button--white:focus-visible {
  @apply border-#EBEBED59 text-white bg-#FFFFFF14;
}

.fui-button--outlined.fui-button--green {
  @apply border-#3AC170 text-#3AC170 bg-transparent;
}

.fui-button--outlined.fui-button--green:hover,
.fui-button--outlined.fui-button--green:focus-visible {
  @apply border-#3AC170 text-#3AC170 bg-#3ac1702e;
}

/* text button */
.fui-button--text {
  @apply border-none;
}

.fui-button--text.fui-button--primary {
  @apply bg-transparent text-[#111111];
}

.fui-button--text.fui-button--primary {
  @apply bg-transparent text-#303549;
}

.fui-button--text.fui-button--primary:hover,
.fui-button--text.fui-button--primary:focus-visible {
  @apply bg-[#F7F8FA] text-#303549;
}

.fui-button__content {
  @apply inline-flex items-center h-full;
}

/** loading **/
.is-loading > .fui-button__content,
.is-loading > .fui-button__icon {
  @apply opacity-0;
}

.fui-button__loading {
  @apply !absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] text-[1.6em];
}

/** start end icon **/
.fui-button__icon + .fui-button__content {
  @apply ml-[.25em] flex flex-row items-center;
}

.fui-button__content + .fui-button__icon {
  @apply ml-[.25em];
}

.fui-button__icon {
  @apply w-fit h-fit;
}

.fui-button__icon > svg {
  @apply w-[1.6em] h-[1.6em];
}

/** click effect **/
.fui-button::after {
  @apply absolute inset-0 rounded-[inherit] opacity-0;
  box-shadow: 0 0 0 6px currentColor;
  transition: 0.4s;
  content: '';
}

.fui-button.fui-button:active:not(.fui-button--text):not(
    .fui-button--link
  )::after {
  @apply opacity-60;
  box-shadow: none;
  transition: 0s;
}

.fui-button--contained.fui-button--primary::after {
  box-shadow: 0 0 0 6px #111111;
}

.fui-button--contained.fui-button--green::after {
  box-shadow: 0 0 0 6px #3ac170;
}
